[submodule "portio-hugo"]
	path = portio-hugo
	url = https://github.com/StaticMania/portio-hugo.git
[submodule "themes/portio"]
	path = themes/portio
	url = https://github.com/StaticMania/portio-hugo.git
[submodule "themes/hugo-liftoff"]
	path = themes/hugo-liftoff
	url = https://github.com/wjh18/hugo-liftoff.git
[submodule "themes/kross"]
	path = themes/kross
	url = https://github.com/themefisher/kross-hugo.git
